<!DOCTYPE html>
<html lang="en">

<head>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/order.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/orders.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>Order Summary</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

</head>

<body>
  <%- include('partials/_header', { user: user}) %>
  <% if (orderDetails.length) {%>
    <% for(const order of orderDetails) { %>
      <div class="order-container">
        <div class="order-summary">
          Order Summary
        </div>
        <div class="order-detail">
          <span><span class="order-label">Order Number: </span><%= order.order_id %></span>
        </div>
        <div class="order-detail">
          <span><span class="order-label">Name: </span><%= order.customer_name%></span>
        </div>
        <div class="order-detail">
          <span><span class="order-label">Phone Number: </span><%= order.phone_number%></span>
        </div>
        <div class="order-detail">
          <span><span class="order-label">Email: </span><%= orderDetails[0].email%></span>
        </div>
        <div class="order-detail">
          <span><span class="order-label">Order Placed At: </span>
          <% const event = new Date(order.order_placed_at); %>
          <%= event.toLocaleString('en-GB', { timeZone: 'UTC' }) %></span>
        </div>
        <div class="order-detail">
          <span>
            <span class="order-label">Items Ordered: </span>
            <% for (let i = 0; i < order.menus.length; i++) { %>
              <% if (i !== 0) { %>
                ,&nbsp;&nbsp;
              <% } %>
              <%= order.menus[i] %>&nbsp;x&nbsp;<%= order.quantities[i] %>
            <% } %>
          </span>
        </div>
        <div class="order-detail">
          <span>
            <span class="order-label">Order Total: </span>
            $<%= order.total_price %> CAD
          </span>
        </div>
        <div class="order-detail">
          <span><span class="order-label">Order Status: </span>
          <% if (order.order_completed_at) { %>
            Order Completed
            <form class="customer_order_delete_history_button">
              <input type="hidden" name="order_id" value="<%= order.order_id %>">
              <input type="submit" value="Remove history">
            </form>
          <% } else if (order.order_started_at) { %>
            Confirmed
          <% } else { %>
            Pending restaurant confirmation
            <form class="customer_order_cancel_button" id="cancel" onclick="clicked(event)">
              <input type="hidden" name="order_id" value="<%= order.order_id %>">
              <button type="submit">Cancel</button>
            </form>
          <% } %>
          </span>
        </div>
      </div>
    <% } %>
  <% } %>
  </div>
</body>
</html>
