<!DOCTYPE html>
<html lang="en">

<head>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>Order Summary</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div>
      <span>Order Number: <%= orderDetails[0].id %></span>
    </div>

    <div>
      <span>Name: <%= orderDetails[0].customer_name%></span>
    </div>

    <div>
      <span>Phone Number: <%= orderDetails[0].phone_number%></span>
    </div>

    <div>
      <span>Email: <%= orderDetails[0].email%></span>
    </div>

    <div>
      <span>Order Placed At: <%= orderDetails[0].order_placed_at%></span>
    </div>

    <div>
      <span>Items Ordered: <% for (let i=0; i<orderDetails.length; i++) { %>
        <%= orderDetails[i].item_name %> x <%= orderDetails[i].cnt %> $<%= orderDetails[i].price %>
        <% } %>
      </span>
    </div>

    <div>
      <span>Order Total: <% let sum = 0; for (let i=0; i<orderDetails.length; i++) { %>
        <% let num = Number(orderDetails[i].price); let cnt = Number(orderDetails[i].cnt); sum += num*cnt; %>
        <% } %>
        $<%= sum.toFixed(2) %>
      </span>
    </div>

    <div>
      <span>Order Status: <%
        if (orderDetails[0].order_started_at) { %>
          Confirmed
          <% } else if (orderDetails[0].order_completed_at) { %>
          Ready for pickup
          <% } else { %>
            Pending restaurant confirmation
          <% } %></span>
    </div>

    <div>
      <span>Estimated Pick-Up Time: tbd</span>
    </div>
</body>

</html>
