<!DOCTYPE html>
<html lang="en">

<head>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/owners.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>Owner</title>
</head>

<body>
  <%- include('partials/_header') %>
    <section class="view_orders">
      <% for (let key of Object.keys(orders)) { %>
        <div>
          <%= key %>
        </div>
        <div class="order">
          <% for (let elem of orders[key]) { %>
          <div>
            <%= elem.item %>
              <%= elem.count %>
          </div>
          <div>
            <%= elem.phone %>
            <%= elem.customer %>
            <%= elem.order_time %>
          </div>
            <div>
              <button type="submit">accept</button>
              <button type="submit">decline</button>
              <form>
                <label>Estimated Time</label>
                <textarea></textarea>
                <button>submit</button>
              </form>
            </div>
            <% } %>
        </div>
      <% } %>
   </section>
</body>

</html>
