<!DOCTYPE html>
<html lang="en">

<head>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/owners.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/owner_jquery.js"></script>
  <title>Owner</title>
</head>

<body>
  <%- include('partials/_header', { user: user }) %>
    <section class="view_orders">
      <% for (let order of orders) { %>
        <div class="order-<%= order.order_id %>">
          <div>
            <%= order.order_id %>
              <%= order.placed_time %>
                <%= order.menu_name %>
          </div>
          <div>
            <%= order.total_items %>
          </div>
          <div class="counter_form-<%= order.order_id %>">
            <div class="order_form-<%= order.order_id %>">
              <form method="POST" action="/api/owner/decline" class="decline">
                <input name="orderId" type="hidden" class="order_id" value="<%= order.order_id %>">
                </input>
                <button type="submit">decline</button>
              </form>
              <form method="POST" action="/api/owner/confirm" class="confirm">
                <label>Estimated Time</label>
                <input name="orderId" type="hidden" class="order_id" value="<%= order.order_id %>">
                </input>
                <input name="confirm_time" class="confirmTime">
                </input>
                <labe>mins</label>
                  <button type="submit">Confirm</button>
              </form>
            </div>
          </div>
        </div>
        <% } %>
    </section>
</body>

</html>
